<div class="sidebar-wrapper" data-simplebar="true">
	<div class="sidebar-header">
		<div>
			<h4 class="logo-text">admin win_ggo</h4>
		</div>
		<div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
		</div>
	</div>
	<!--navigation-->
	<ul class="metismenu" id="menu">
		<li>
			<a href="/" >
				<div class="parent-icon"><i class='bx bx-home-circle'></i>
				</div>
				<div class="menu-title">Главная</div>
			</a>
		</li>
		<li class="menu-label">Управление</li>
		<li>
			<a href="/category">
				<div class="parent-icon"><i class="bx bx-align-left"></i>
				</div>
				<div class="menu-title">Категории</div>
			</a>
		</li>

		<li>
			<a href="/subcategory">
				<div class="parent-icon"><i class='bx bx-box'></i>
				</div>
				<div class="menu-title">Субкатегории</div>
			</a>
		</li>
		{{!-- <li>
			<a href="/atribute">
				<div class="parent-icon"><i class='fadeIn animated bx bx-clipboard'></i>
				</div>
				<div class="menu-title">Атрибут</div>
			</a>
		</li> --}}
		<li>
			<a href="/product">
				<div class="parent-icon"><i class='fadeIn animated bx bx-shopping-bag'></i>
				</div>
				<div class="menu-title">Продукт</div>
			</a>
		</li>
		<li>
			<a href="/order">
				<div class="parent-icon"><i class='lni lni-cart-full'></i>
				</div>
				<div class="menu-title">Заказы</div>
			</a>
		</li>
		<li>
			<a href="/users">
				<div class="parent-icon"><i class="bx bx-user-check"></i>
				</div>
				<div class="menu-title">Пользователи</div>
			</a>
		</li>
		
		<li class="menu-label">Дополнительно</li>
		<li>
			<a href="/admin">
				<div class="parent-icon"><i class='bx bx-user-circle'></i>
				</div>
				<div class="menu-title">Админстраторы</div>
			</a>
		</li>
</div>