{{> header}}

<body class="bg-theme bg-theme2">
	<div class="wrapper">
		<!--sidebar wrapper -->
		{{> sidebar}}
		<!--end sidebar wrapper -->
		<!--start header -->

		<header>
			<div class="topbar d-flex align-items-center">
				<nav class="navbar navbar-expand">
					<div class="mobile-toggle-menu"><i class='bx bx-menu'></i>
					</div>
					<div class="search-bar flex-grow-1">
						<div class="position-relative search-bar-box">
							<input type="text" class="form-control search-control" placeholder="Type to search..."> <span class="position-absolute top-50 search-show translate-middle-y"><i class='bx bx-search'></i></span>
							<span class="position-absolute top-50 search-close translate-middle-y"><i class='bx bx-x'></i></span>
						</div>
					</div>
					{{!-- <div class="top-menu ms-auto"> --}}
						{{!-- <ul class="navbar-nav align-items-center"> --}}
							{{!-- <li class="nav-item mobile-search-icon"></li> --}}
							{{!-- <li class="nav-item dropdown dropdown-large"> --}}
								{{!-- <div class="dropdown-menu dropdown-menu-end"></div> --}}
							{{!-- </li> --}}
							{{!-- <li class="nav-item dropdown dropdown-large"> --}}
								{{!-- <div class="dropdown-menu dropdown-menu-end"> --}}
									<div class="header-notifications-list"></div>
								{{!-- </div> --}}
							{{!-- </li> --}}
							{{!-- <li class="nav-item dropdown dropdown-large"> --}}
								{{!-- <div class="dropdown-menu dropdown-menu-end"> --}}
									<div class="header-message-list"></div>
								{{!-- </div> --}}
							{{!-- </li> --}}
						{{!-- </ul> --}}
					{{!-- </div> --}}
					<div class="user-box dropdown">
						<a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<div class="user-info ps-3">
								<p class="user-name mb-0">{{admin.name}}</p>
								<p class="designattion mb-0">Администратор</p>
							</div>
						</a>
						<ul class="dropdown-menu dropdown-menu-end">
							<li><a class="dropdown-item" href="/auth/logout"><i class='bx bx-log-out-circle'></i><span>Выйти</span></a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>

		
		<!--end header -->
		<!--start page wrapper -->
		<div class="page-wrapper">
			{{!-- <div class="page-content"> --}}
				<!--breadcrumb-->
				{{{body}}}
			{{!-- </div> --}}
		</div>
		<!--end page wrapper -->
		<!--start overlay-->
		<div class="overlay toggle-icon"></div>
		<!--end overlay-->
		<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->

	</div>
	
	{{> themes}}

	{{> scripts}}
	
</body>

</html>