{{> header}}

<body class="bg-theme bg-theme2">
  <div class="wrapper">

    <div class="header-notifications-list" style="height: 50px;"></div>
    <div class="header-message-list" style="height: 50px;"></div>

  

    <div class="page-wrapper">
      <div class="page-content">
        {{{body}}}
      </div>
    </div>

    <div class="overlay toggle-icon"></div>

    <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>

  </div>

  {{> themes}}

  {{> scripts}}

</body>
</html>